/* --------------------- CSS RESET START ---------------------------*/

*{box-sizing:border-box;}
html, body {
    height:100%;
    margin:0;
    padding:0;
}
/* ------------------- CSS RESET END ---------------------*/

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:5rem;
    width: 80%;
    height: auto;
}

.main-amatic{
    font-family:'Amatic SC',cursive;
    color: rgb(0, 0, 0);
    font-size:5rem;
    font-weight:bold;
    justify-content:center;
}

.main-shadows{
    font-family:'Shadows Into Light Two', cursive;
    font-size:1.7rem;
 }

.main-amatic2{
    font-family:'Amatic SC',cursive;
    color: rgb(0, 0, 0);
    font-size:2rem;
    font-weight:bold;
}


.col-10{
    display:flex;
    justify-content:center;
}

.text-center{
    font-size:3rem;
}

/*provides space/padding around large logo */
.logorow{
    padding:3rem;
}


.name-border {
    border:medium;
    align-items:center;
    border-style:solid;
    display:flex;
    border-radius:80%;
    font-size:60px;
    font-family:'Amatic SC', cursive;
    height:15rem;
    width:15rem;
    justify-content:space-around;
    flex-direction:row;
    flex-wrap:wrap;
}

.column-in-center{
    float: none;
    margin: 0 auto;
}

.navlogo{
    height: 3em;
    
}

.logocontainer{
    height: 10rem;
    align-items: center;
}

.button{
    margin-bottom: 20px;
}

.pageTitle{
    margin-top: 30px;
}

.reveal{
    display:none;
}




@media(min-width:576px){
    /*
    html{
        font-size:36px;
    } */
    
    .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    width: 80%;
    height: auto;
}


}


@media(min-width:768px){
   
   /* html{
        font-size:48px;
    } */
    
    .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:2rem;
    width: 60%;
    height: auto;
}



}
